/* @media screen and (max-width:765px) {
    .navMenu{
        display: none;
    }
    .mobileNavMenu{
        display: flex;
    }
}
@media screen and (min-width:765px) {
    .navMenu{
        display: flex;
    }
    .mobileNavMenu{ 
        display: none;
    }
} */