@media screen and (max-width: 638px) {
    .side_bar{
        display: none;
    }
}

@media screen and (min-width: 760px) {
    .side_bar{
        display: flex;
    }
}
/* Profile */
@media screen and (max-width: 750px) {
    .profile_left {
        width: 100%;
    }
    .profile_right, .spaceYouMayLike {
        display: none;
    }
}
@media screen and (min-width:800px) {
    .profile_left {
        width: 100%;
    }
    /* .profile_right {
        display:flex;
    } */
}